extends ../layout

block content
  h2= auser.profile.name
  p.lead= auser.profile.location
  if user.profile.picture
    img(src=auser.profile.picture)
  else
    img(src=auser.gravatar())
  div.container
    if currentUser.id != auser.id
      if currentUser.following.indexOf(auser.id) > -1
        a.btn.btn-default(href='/unfollowUser/' + auser._id, role='button') Unfollow User
      else
        a.btn.btn-default(href='/followUser/' + auser._id, role='button') Follow User
  div.container
    a.btn.btn-default(href='/getPosts/' + auser._id, role='button') Enter Room
