footer
    .container.text-center
        p.pull-left © 2016 Michael/Silas, Inc. All Rights Reserved
        ul.pull-right.list-inline
            li
                a(href='https://github.com/molmsted98/mhacks8') GitHub Project
            li
                a(href='https://github.com/molmsted98/mhacks8/issues') Issues
