extends layout

block content
  h1 mFrame: A VR Social Network
  p.lead Find a room to explore.
  form.form-horizontal(id='signup-form', method='POST')
    input(type='text' name='search' placeholder='Something new')
    hr
    .row
      if users
        each auser in users
          h1
          a(href='/getPosts/' + auser._id)= '@' + auser.username
