extends layout

block content
  h1 A VR Social Network
  p.lead Check out these cool local users.
  hr
  .row
    each user in users
      h1
      a(href='/getPosts/' + user._id)= '@' + user.username
