extends layout

block content
  h1 A VR Social Network
  p.lead Check out these cool local users.
  hr
  .row
    each user in users
      if (typeof(user.profile) !== 'undefined')
        h1
        a(href='/userProfile/' + user._id)= user.profile.name
