extends ../layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | Image Upload
  h3 Image Upload Form
  .row
    .col-sm-6
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File Input
          input(type='file', name='myFile')
          select(name='type')
            option(value='Post') Post
            option(value='Wall') Wall
            option(value='Ceiling') Ceiling
            option(value='Floor') Floor
            option(value='Frame') Frame
        button.btn.btn-primary(type='submit') Submit
